body {
  margin: 0 auto; /* Center the content horizontally */
  overflow-x: hidden; /* Hide horizontal overflow */
  background-color: white;
}
/*NavBar*/
  .custom-navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;

  }
  .navbar-nav .nav-link {
    font-size: 25px; /* Adjust the font size as needed */
    margin-right: 30px;/*space betwwen elements*/
    font-family: 'Libre Franklin', sans-serif;
    color: hover; /* Change to your desired text color */
  }
  .btn-custom {
    font-size: 25px;
    background-color: #1D49A7; /* Change to your desired color */
    color: white; /* Change to your desired text color */
    font-family: 'Libre Franklin', sans-serif;
    border: none;
  }
  
  .center-elements {
    display: flex;
    align-items: center;
  }
  
  .navbar-nav .nav-item .nav-link:hover { /*targets the nav-link class when it is being hovered over by the mouse cursor*/
    border-bottom: 4px solid #1D49A7;
    font-weight: bold;
    
  }

  .navbar-nav .nav-item .nav-link.active {/*current page */
  
    font-weight: bold;
    border-bottom: 4px solid #1D49A7;
   
  }

  .navbar-nav .nav-item.active {/*current page */
  
    font-weight: bold;
    border-bottom: 4px solid #1D49A7;
  }
  #bookB.underline {
    text-decoration: underline;
    border-bottom: 4px solid #1D49A7;
  }
/*------------------------------------------------------------------------------------*/
.body{
  max-width: 1200px;
}
.btn-custom2 {
  font-size: 25px;
  background-color: white; /* Change to your desired color */
  color: #1D49A7; /* Change to your desired text color */
  font-family: 'Libre Franklin', sans-serif;
  margin-top:25px;
  left: -110px;
  border-radius: 10px;
}
.btn-custom2:hover{
  font-size: 25px;
  background-color: white; /* Change to your desired color */
  color: #DFEAFF; /* Change to your desired text color */
  font-family: 'Libre Franklin', sans-serif;
  margin-top:25px;
  left: -110px;
  border-radius: 10px;
}

.divider {
  border: none;
  border-top: 2px solid #ccc;
  margin: 20px auto; 
  width: 65%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
}
.footer {
  background-color: #1D49A7;
  padding: 20px;
  color:white;
  font-family: "Noto Sans", sans-serif;
}

.footer-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  align-items: center; 
  text-align: center;
  vertical-align: text-top;
  margin:30px;
  align-items: flex-start;/*same height*/
}

#titlecontact{
  margin-bottom: 60px;
}
#info{
  margin-bottom:40px;
}


.footer-column {
  flex: 1;
  margin: 10px;
  position: relative;
}
.Contact {
  flex: 1;
  margin: 10px;
  text-align: left;
}


.footer-button {
  padding: 10px 20px;
  background-color: #1D49A7;
  color: white;
  border: none;
  cursor: pointer;
}


.footer-columnmap{
  margin-top: 65px; 
}
.footer-columnb {
  flex: 1;
  margin: 10px;
  position: relative;
  margin-top: 65px; 
}

#map {
 
  background-color: #1D49A7;
  position: absolute;
  bottom: 0;
  border-radius: 50px;
}

.office-hours {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Noto Sans", sans-serif;
}

.column {
  flex-basis: 100%;
  text-align: left;
  display: inline-block;
  font-size: 14px;
  padding: 0 15px;
}

/* HEADING AND DROPDOWN SERVICES*/

.container1 {
  margin-top: 0px;
  text-align: center;
}

.heading {
  font-size: 32px;
  margin-bottom: 10px;
  letter-spacing: 15px;

  
}

.dropdown-container {
  display: flex;
  justify-content: center;
  background-color: #1D49A7;
  margin-top:0px;
  height:60px;
}


.btn-secondary {
  background-color: white;
  color: #1D49A7;
  border: 1px solid white;
  font-weight: bold;
  width: 250px;
  height:50px;
  font-size: 25px;
  border-radius: 3px;
}
.btn-secondary1 {
  background-color: white;
  color: #1D49A7;
  border: 1px solid black;
  font-weight: bold;
  width: 200px;
  border-radius: 10px;
  transform: translateY(10%); /* Move down 50% of the element's height */
  transform: translateX(20%); /* Move down 50% of the element's height */

}

.custom-button:hover {
  background-color: #1D49A7;
  color: white;
  width: 150px;
  font-family: 'Libre Franklin', sans-serif;
  font-weight: bold;
}

.dropdown-menu {
  margin-top: 5px; /* Added margin to create space between button and dropdown */
  width: 250px;
  
}
#doble{
  margin-top:10px;
  font-weight: bold;
}

.dropdown:hover .dropdown-toggle {
  background-color: white;
  color: #1D49A7;
}
.dropdown:hover .dropdown-menu {
  display: block;
  background-color: white;
  color: black;
}
.dropdown-menu {
  margin-top: 5px;
  position: absolute;
  z-index: 1;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.dropdown-menu:hover {
  position: absolute;
  z-index: 2;
}

.dropdown-container:hover ~ * {
  opacity: 0.1; /* opacity for other elements */
}

.dropdown-item:hover {
  background-color: #1D49A7;
  color: #fff;
}

.dropdown-menu1 {
  margin-top: 5px;
  position: absolute;
  z-index: 1;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  background-color: white;
  text-align: center;
  width: 200px;
}

.dropdown-item1{
  text-decoration: none;
  color:black;
  
}
.dropdown-menu1 li:hover {
  background-color: #1D49A7;
  color: #fff;
}
.dropdown-item1:hover {
 
  color: #fff;
}
.dropdown-toggle:hover {
  background-color: #1D49A7;
  color: white;
}

.selected-info{
  position: relative;
  left: -50px;
}


/*------------------------------------------------------------------------------------*/

.hiddencontentsorry { /*IDK WHY IF I DO NOT HAVE THIS, THE POP-UP DOES NOT WORK SO I JUST HID IT, I SHOULD NOT THO*/
  display: none;
}

/*CALENDAR+DATE+TIME*/
.container {
  display: flex;
   background-color: white;
  padding: 60px;
  border: 1px solid #1D49A7;
  max-width: 1200px;
}

/* BOOK APPOINTMENT */
.heading {
  color: white;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  font-family: 'Libre Franklin', sans-serif;
  background-color: #1D49A7;
  padding: 60px;
  margin-bottom: 0px;
  margin-top:0px;
}
/* Calendar styling */
.calendar {
  margin: 20px auto;
  max-width: 400px;
  text-align: center;
  flex: 1;
  
}

.calendar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.calendar-title {
  font-size: 20px;
}

.calendar-table {
  width: 100%;
}

.calendar-table th,
.calendar-table td {
  padding: 5px;
}

.calendar-prev,
.calendar-next {
  background-color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.calendar-prev:hover,
.calendar-next:hover {
  background-color: #1D49A7;
}

.calendar-table td {
  cursor: pointer;
}



/* Timeslots styling */
.timeslots {
  
  margin: 25px auto;
  max-width: 400px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 25px;
  flex: 1;
  transform: translateX(10%); /* Move down 50% of the element's height */
}


.row {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.timeslot {
  background-color: #DFEAFF;
  border: 1px solid #1D49A7;
  padding: 10px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 10px;
  flex: 1;
  margin-bottom: 15px
 
}

.timeslot:hover {
  background-color: #1D49A7;
}
.timeslot.selected {
  background-color: #1D49A7;
  color: white;
}



/* Selected information styling */
.selected-info {
  margin: 20px auto;
  max-width: 400px;
}

.selected-info h3 {
  font-size: 18px;
}

.selected-info p {
  font-size: 16px;
  font-weight: bold;
  
}

.form-select {
  background-color: white;
  color: black;
  position: relative;
  left: -110px;

}

.form-select option:hover {
  background-color: #1D49A7;
  color: white;
}


.form-select option:checked {
  background-color: #1D49A7;
  color: white;
}

.calendar-table td.current {
  background-color: #DFEAFF;
}

.calendar-table td.selected {
  background-color: #1D49A7;
  color:white;
}

.form-label1 {
  color: black; 
  font-size: 16px; 
  font-weight: bold;
}

.form-select{
  border-radius: 10px;
}
/*INFO SECTION*/
.container2{
  background-color: white;
  height:500px;
  max-width: 1200px;
  margin: 0 auto;

}

.sub-heading {
  font-size: 35px;
  margin-bottom: 0px; 
  font-family: 'Libre Franklin', sans-serif;
  color: black;
  font-weight: lighter;
  text-align: center;
  margin-top:50px;
font-weight: 500;
line-height: 48px;

}
/* OUR SERVICES */

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  
}


.popup-content {
  background-color: #fff;
  width: 500px;
  margin: 100px auto;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

#closeButton {
  margin-top: 10px;
}

h2 {
  font-size: 25px;
  font-family: 'Libre Franklin', sans-serif;
  color: #1D49A7;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
#bookButton {
  background-color: #1D49A7;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
}
#closeButton  {
  background-color: #1D49A7;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
}

/* Customized styles for the popup paragraphs */
#popup-selected-service,
#popup-selected-datetime,
#popup-selected-dentist {
  font-size: 18px;
  color: #333;
  margin-bottom: 10px;
}

.popup-text {
  font-weight: bold;
  font-family: 'Libre Franklin', sans-serif;
  color: black;
}

.form-label {
  position: relative;
  left: 26%; 
  text-align: left;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: black;
  transform:translateX(-75px)
}



.form-control {
  width: 700px; 
  height: 50px; 
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #666;
  padding: 6px 10px;
  background-color: #DFEAFF; 
  border-radius: 10px;
  
}

#box.border.p-4.rounded{
  border:none;
}

/*SERVICE PAGE---------------------------------------------------------------------------------*/
.services-row {
  display: flex;
  justify-content: center; 
  /*flex-direction: column;*/
}

.services-column {
  text-align: center;
  padding-left: 60px;
  padding-right:60px;
  padding-top:20px;
  padding-bottom:65px;
  transition: transform 0.3s ease, font-weight 0.3s ease, shadow 0.3s ease;
  flex-direction: column;
}

.type-service{
  font-size: 25px;
  margin-bottom: 5px; 
  font-family: 'Libre Franklin', sans-serif;
  color: #1D49A7;
  font-weight: lighter;
  text-align: left;
  margin-top:50px;
  position: relative;
  left: 230px; /* Adjust the value as needed */
margin-top:0px;

}



.card-img-top{
  height:200px;
  display:none;
}

.card-link{
  text-align: right;
  color:#1D49A7;
  text-decoration: none;
  position:relative;
  left:30px;
  margin-bottom:40px;
  font-weight: bold;
  font-size: 15px;
}
.card-link:hover{
  text-align: right;
  color:#1D49A7; 
  font-weight: bold;
  font-size: 17px;
}

.card-body{
  background-color: rgba(255, 255, 255, 0.877);
  width:200px;
  margin:0px;
  bottom: 0;
  left: 0;
  position: absolute;
  height: 8rem; 
  border-radius: 5px;
}

.service-implants {
  width: 18rem;
  background-image: url('Ressources/tooth\ implant.jpg');
  background-size: cover;
  background-position: center;
  height:320px;
  justify-content: flex-end;
  position: relative;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.service-removal {
  width: 18rem;
  background-image: url('Ressources/Tooth\ Removal.jpg');
  background-size: cover;
  background-position: center;
  height:320px;
  justify-content: flex-end;
  position: relative;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.service-fillings {
  width: 18rem;
  background-image: url('Ressources/fillings.jpg');
  background-size: cover;
  background-position: center;
  height:320px;
  justify-content: flex-end;
  position: relative;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.service-braces {
  width: 18rem;
  background-image: url('Ressources/braces.jpg');
  background-size: cover;
  background-position: center;
  height:320px;
  justify-content: flex-end;
  position: relative;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.service-whitening {
  width: 18rem;
  background-image: url('Ressources/whitening.jpg');
  background-size: cover;
  background-position: center;
  height:320px;
  justify-content: flex-end;
  position: relative;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.service-cleaning {
  width: 18rem;
  background-image: url('Ressources/cleaning.jpg');
  background-size: cover;
  background-position: center;
  height:320px;
  justify-content: flex-end;
  position: relative;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.services-column:hover{
  transform: scale(1.1);
}


/*HOMEPAGE---------------------------------------------------------*/
body {
	
  margin: 0 auto;
}

.slide-item {
  position: relative;
  width: 100%;
  height: 530px;
  background-color: #1D49A7;
  align-items: center;
  justify-content: center;
   display: flex;
}

.slide-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slide-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.slide-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 1; /* Ensure the caption is on top of the image */
  pointer-events: none;/* Prevent the caption from blocking hover events on the image */
}

.slide-item:hover .slide-caption {
  opacity: 1;
}

.slide-caption h3,
.slide-caption p {
  margin: 0;
  font-size:75px;
  font-family: 'Libre Franklin', sans-serif;
  font-style: bold;
}

.slide-image:hover {

  opacity: 0.1;
}

/*ABOUT US--------------------------------------------------------------*/

.row {
  display: flex;
}

.column {
  flex: 1;
  padding: 20px;
}

.center-image {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

.text {
  text-align: justify;
}


.dentists-row {
  display: flex;
  justify-content: center; 
 

}

.dentists-column {
  text-align: center;
  padding-left: 60px;
  padding-right:60px;
  padding-top:20px;
  padding-bottom:65px;
  transition: transform 0.3s ease, font-weight 0.3s ease, shadow 0.3s ease;
}



.card-img-top{
  height:200px;
  display:none;
}

.card-link{
  text-align: right;
  color:#1D49A7;
  text-decoration: none;
  position:relative;
  left:30px;
  margin-bottom:40px;
  font-weight: bold;
  font-size: 15px;
}
.card-link:hover{
  text-align: right;
  color:#1D49A7; 
  font-weight: bold;
  font-size: 17px;
}

.card-body2{
  background-color: rgba(255, 255, 255, 0.877);
  width:200px;
  margin:0px;
  bottom: 0;
  left: 0;
  position: absolute;
  height: 6rem; 
  border-radius: 5px;
  text-align: left;
  padding:15px;
}

.Juan {
  width: 18rem;
  background-image: url('Ressources/Juan.jpg');
  background-size: cover;
  background-position: center;
  height:320px;
  justify-content: flex-end;
  position: relative;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.John {
  width: 18rem;
  background-image: url('Ressources/John.jpg');
  background-size: cover;
  background-position: center;
  height:320px;
  justify-content: flex-end;
  position: relative;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.Jean {
  width: 18rem;
  background-image: url('Ressources/Jean.jpg');
  background-size: cover;
  background-position: center;
  height:320px;
  justify-content: flex-end;
  position: relative;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.dentists-column:hover{
  transform: scale(1.1);
}

.about-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100vh; /* Adjust the height as needed */
}

.about {
  width: 80%; 
  margin: 0 auto; /* Center the paragraph horizontally */
  font-weight: 400;
  font-size: 25px;
 /* transform: translateY(50%);  Move down 50% of the element's height */
}

.column2 {
  flex-basis: 100%;
  text-align: left;
  display: inline-block;
  font-size: 14px;
  padding: 0 15px;
  text-align: center;
}

/*CONTACT------------------------------*/

.container {
  display: flex;
}

.left-column {
  flex-basis: 33.33%;
  background-color: #1D49A7;
  padding: 20px;
  color:white;
}


.right-column {
  flex-basis: 66.66%;
  padding: 20px;
  margin-top:65px;
}

.contact {
  display: flex;
   background-color: white;
  height:1050px;
  max-width:100%;
  margin-bottom: 30px;
}
.textcontact{
  margin:50px;
  
}

.blank{
  width:100%;
  height:150px;
  background-color: white;
}
.officehours{
  text-align: center;
  margin-bottom: 50px;
}
#map1{
  text-align: center;
}
.title{
  text-align: center;
}
.contact1{
  margin-bottom:50px;
}

.columncontact {
  flex-basis: 100%;
  text-align: left;
  display: inline-block;
  font-size: 20px;
  padding: 0 25px;
  margin-bottom: 50px;
}

.contactinfo{
  font-size:20px;
}

#map2{
text-align: center;
}

.contactsquare{
  text-align: center;
  background-color: #DFEAFF;
  width:600px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin:0px auto;
  margin-top: 30px;

}

.form-control2 {
  width: 500px; 
  height: 50px; 
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #666;
  padding: 6px 10px;
  background-color: white; 
  border-radius: 10px;  
  border: none;
 
}


.form-label2{
  position: relative;
  left: 26%; 
  text-align: left;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 16px;
  font-weight: bold;
  transform:translateX(-100px);
}
#message.form-control2{
  height:200px;
}

/*PARTICULAR SERVICES*-----------------------------------*/
.containerservices {
  display: flex;
 padding-left: 150px;
 padding-right: 100px;
 padding-bottom:50px;
}

.left-columnservices {
  flex-basis: 33.33%;
  background-color: white;
  padding: 20px;
}

.right-columnservices {
  flex-basis: 66.66%;
  background-color: white;
  padding: 30px;
}

.type-service1{
  font-size: 25px;
  margin-bottom: 5px; 
  font-family: 'Libre Franklin', sans-serif;
  color: #1D49A7;
  font-weight: lighter;
  text-align: left;
  margin-top:50px;
  position: relative;
  left: 55px; /* Adjust the value as needed */
margin-top:25px;

}
.service-implants{
 margin:0px auto;
}

.service-fillings{
  margin:0px auto;
 }
 

.service-removal{
  margin:0px auto;
}

.service-braces{
  margin:0px auto;
}

.service-whitening{
  margin:0px auto;
}

.service-cleaning{
  margin:0px auto;
}

.subsub{
  color:#1D49A7;
}
.description{
  width:600px;
  text-align: justify;
}

.sub-heading3 {
  font-size: 50px;
  margin-bottom: 0px; 

  font-weight: bold;
  color: black;
  text-align: left;
  margin-top:40px;
font-weight: 500;
line-height: 48px;
margin-bottom: 20px;

}

.btn.btn-custom4.btn-lg{
  font-size: 25px;
  background-color: #1D49A7; /* Change to your desired color */
  color: white; /* Change to your desired text color */
  font-family: 'Libre Franklin', sans-serif;
  border: none;
  transform: translateX(172px);
}

.divider2 {
  border: none;
  border-top: 2px solid #ccc;
  margin: 20px auto; 
  width: 50%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
  transform: translateX(-100px);
}

.price{
  font-size:30px;
  font-weight: bold;
}
.small{
  font-size:15px;
}

.btn-services {
  display: inline-block;
  padding: 10px 20px;
  color: #0056b3;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transform: translate(-80px,-20px);
  opacity: 0.5;
}

.btn-services:hover {
  
  text-decoration: underline;
  color:#0056b3;
  opacity: 1;
}

